body {
  background-color: rgb(36, 41, 46);
  background-image: url(Background2.png);
}

.layanan-container {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.layanan-container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: chartreuse;
}

.layanan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.layanan-card {
  background-color: rgb(28, 32, 37);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, background-color 0.3s ease;
  height: 100%;
}

.layanan-card:hover {
  transform: translateY(-5px);
  background-color: rgb(84, 88, 92);
}

.layanan-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: chartreuse;
}

.layanan-card p {
  font-size: 15px;
  color: rgb(200, 200, 200);
}

@media (max-width: 600px) {
  .layanan-container h2 {
    font-size: 28px;
  }
}

.layanan-card .harga {
  font-weight: bold;
  color: chartreuse;
  margin: 10px 0;
  font-size: 18px;
}

.layanan-card button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: chartreuse;
  color: rgb(28, 32, 37);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: auto;
}
.layanan-card button a{
  text-decoration: none;
}

.layanan-card button:hover {
  background-color: rgb(24, 98, 24);
  color: white;
}
.avatar {
  width: 40px;       
  height: 40px;       
  border-radius: 50%; 
  object-fit: cover;  
  border: 2px solid white; 
}