body {
  background-color: rgb(36, 41, 46);
  background-image: url(Background4.png);
}

.kontak{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kontak-container {
  max-width: 600px;
  background-color: rgb(28, 32, 37);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  justify-content: center;
}

.kontak-container:hover {
  transform: translateY(-4px);
}

.kontak-container h2 {
  font-size: 28px;
  color: chartreuse;
  margin-bottom: 10px;
}

.kontak-container p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: rgb(170, 170, 170);
  line-height: 1.5;
}

.form-kontak {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-kontak label {
  font-size: 15px;
  color: white;
}

.form-kontak input,
.form-kontak textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(43, 49, 54);
  color: white;
  font-size: 14px;
}

.form-kontak input:focus,
.form-kontak textarea:focus {
  border-color: chartreuse;
  background-color: rgb(53, 59, 66);
  outline: none;
  transition: 0.3s;
}

.form-kontak button {
  padding: 12px;
  font-size: 16px;
  background-color: chartreuse;
  color: rgb(28, 32, 37);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.form-kontak button a{
  text-decoration: none;
}
.form-kontak button:hover {
  background-color: rgb(27, 91, 27);
  color: white;
}

/* Responsive */
@media (max-width: 600px) {
  .kontak-container {
    margin: 30px 15px;
    padding: 25px 20px;
  }
}
.avatar {
  width: 40px;
  height: 40px; /* ini tadi kosong, perlu diisi */
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(9, 9, 56);
}
