/* ===== BACKGROUND ===== */
body {
  background-color: rgb(36, 41, 46);
  background-image: url(Background3.png);
}

/* ===== PROFIL CONTAINER ===== */
.profil-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto; /* center horizontal */
  display:grid;
  justify-content: center; /* center horizontal isi */
  align-items: center; /* center vertikal isi */
  padding-top: 80px;
  gap: calc(30px);
}


/* ===== BOX PROFIL ===== */
.profil-box {
  background-color: rgb(28, 32, 37);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
}

/* ===== FOTO PROFIL ===== */
.profil-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #0a160f;
  aspect-ratio: 1 / 1;
}

/* ===== JUDUL ===== */
h1 {
  font-size: 28px;
  color: rgb(92, 255, 56);
  margin-bottom: 5px;
}

.tuf {
  color: #ff4d4d;
}

/* ===== TAGLINE ===== */
.tagline {
  font-style: italic;
  color: rgb(150, 160, 170);
  margin-bottom: 15px;
}

/* ===== DESKRIPSI ===== */
.deskripsi {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  line-height: 1.6;
}

/* ===== INFO KONTAK ===== */
.profil-container p {
  margin: 6px 0;
  font-size: 15px;
  color: rgb(255, 255, 255);
}


/* ===== FAQ ===== */
.faq h1 {
  margin-bottom: 15px;
}

.faq h3 {
  color: rgb(92, 255, 56);
  margin-top: 15px;
  margin-bottom: 5px;
}

.faq-item {
  margin: 6px 0;
  font-size: 15px;
  color: rgb(180, 180, 180);
}

/* ===== RESPONSIVE HP ===== */
@media (max-width: 480px) {
  .profil-box {
    padding: 20px;
  }

  h1 {
    font-size: 22px;
  }

  .deskripsi {
    font-size: 14px;
  }
}
