@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px); 
    color:#e2e8f0;
    padding: 5px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 0%;
    
}

.navbar .navbar-logo h1 {
    font-size:35px;
    
}
.navbar-logo  a {
    text-decoration: none;
    color: #38bdf8;
    font-weight: 700;
}
.navbar .navbar-logo .tec {
    color: #22c55e;
    font-size: 35px;
}
.navbar ul{
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
}
.navbar ul li{
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color:  #cbd5e1;
    position: relative;
}

.navbar ul li a:hover {
    color: #38bdf8;
    text-decoration:overline;
}
/* css home */ 
.home {
    padding-top: 90px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.home .isi{
    padding: 1.4rem 7%;
    max-width: 50rem;
    color:  #e2e8f0;
    text-align: center;
    
}
span{
     color: #22c55e;
}
.isi h3{
    margin-top: 1rem;
    font-size: 45px;
    color: #38bdf8;

}
.isi a {
    text-decoration: none;
}

.isi .cta{
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.7rem 1.4rem;
    font-size: 1.1rem;
    color: white;
    background-color: #22c55e;
    border-radius: 6px;
    
}
.isi .cta:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(9, 56, 26);
}

@media (max-width: 480px) {
    .wraper {
        width: 90%;
        padding: 25px;
    }
}
